* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn{
    color:white;
    background-color: hsl(200, 100%, 50%);
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius:  .3em;
    cursor: pointer;
    font-size: 2rem;
}


.btn-holder:hover::after{
    --default-transform: translateY(500%);

    content: 'Loading';
    position: absolute;
    transform: var(--default-transform);
    left: 300px;
    animation: loading 2s ease forwards;
}



@keyframes loading{
    0% {
        content: 'Loading.';
        opacity: 1;
    }
    14% {
        content: 'Loading..';
    }
    28% {
        content: 'Loading...';
        transform: var(--default-transform) rotate(30deg);
    }
    42% {
        content: 'Loading..';
    }
    57% {
        content: 'Loading.';
        opacity: 0.6;
    }
    71% {
        content: 'Loading..';
    }
    85% {
        content: 'Loading...';
        transform: var(--default-transform) rotate(-30deg);
    }
    100% {
        content: 'Loaded';
        opacity: 0;
        transform: var(--default-transform) rotate(0d);
        
    }
}

